After completing the survey using google forms:
- Publish your spreadsheet with the answers
- You need to publish it as a CSV file. 
- Copy and paste the link below.

In [ ]:
LinkToData_asCSV="https://docs.google.com/spreadsheets/d/e/2PACX-1vS4oxsRxGyF17HbRJ3_WFX1Pj4A0rgugutC1YQfXV42D6kCRivonxct5gQxdJ-2leeK7kN0SwHkbDUY/pub?gid=1920066012&single=true&output=csv"

Once you have the link, it is really easy to get the data:

In [ ]:
import pandas as pd

data_answers=pd.read_csv(LinkToData_asCSV)

In [ ]:
data_answers

,Marca temporal,First Name,Surname,Age,Sex,Experience in R?,Experience in Python?
0,11/08/2022 13:22:48,Victor Gabriel,Alcantara,24,Male,Skilled user,None
1,11/08/2022 13:22:52,André,Martins,20,Male,None,None
2,11/08/2022 13:23:25,Julia,Cabral,28,Female,Skilled user,None
3,11/08/2022 13:23:39,Elias,Rodrigues,39,Male,None,Some
4,11/08/2022 13:23:54,Jessica,Luzes,37,Female,Some,None
5,11/08/2022 13:24:12,Daniel,Bonatto Seco,28,Male,Some,Fair
6,11/08/2022 13:24:22,Gabriel,Doria,22,Male,Some,None
7,11/08/2022 13:24:26,Graziela,Dumard da Silva,31,Female,None,None
8,11/08/2022 13:24:50,Izabela,Borges,27,Female,Some,Some
9,11/08/2022 13:25:50,Thiago,Fernandes,38,Male,None,Some
10,11/08/2022 13:26:50,Miguel,Domingos de Barros,24,Male,None,Some